parameters:
    scopeClass: Teknoo\States\PHPStan\Analyser\Scope
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '#Parameter \#1 \$translatableSetter of class [a-zA-Z0-9\\_]+ constructor expects \(callable\(\): mixed\)\|null#'
            path: infrastructures/doctrine/di.php
        -
            message: '#Cannot cast array<string>\|string\|null to string.#'
            path: infrastructures/symfony/Command/CreateUserCommand.php
        -
            message: '#Call to an undefined method [a-zA-Z0-9\\_]+::createQueryBuilder\(\)#'
            path: infrastructures/doctrine/Form/Type/*
        -
            message: '#Comparison operation "<" between [0-9]+ and 50000 is always#'
            path: infrastructures/symfony/Resources/config/di.php
        -
            message: '#Unreachable statement - code above always terminates.#'
            path: infrastructures/symfony/Resources/config/di.php
services:
	-
		class: Teknoo\States\PHPStan\MethodsClassExtension
		tags:
			- phpstan.broker.methodsClassReflectionExtension